body {
  margin: 2.5rem 6.25rem;
  background-color: #F8F8F8;
  color: #212121;
}

h1 {
  font-size: 3rem;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: 300;
}

.large-text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 160%;
}

.image {
  width: 477px;
  height: 624px;
}

.name {
  font-weight: 500;
}

.navbar {
  margin-bottom: 10rem;
}

.navbar-brand {
  font-family: 'Courgette', cursive;
}

.title {
  margin: 8.75rem 0;
  align-items: center;
}

.img-col {
  text-align: right;
}

.profile-img {
  width: 304px;
}

.sign-img {
  width: 7.875rem;
  position: absolute;
  left: 45rem;
  top: 30rem;
}

.text {
  font-family: 'Rubik';
  font-weight: 300;
  font-size: 7.25rem;
  line-height: 93%;
  text-align: center;
  margin: 20rem 0;
}

.gradient-text {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  background: linear-gradient(90.13deg, #EED4A1 8.92%, #D2BB8F 48.59%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

#services {
  margin: 20rem 0;
}

h5 {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.2em;
}

.service-title {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.1em;
}

p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.04em;
}

#projects {
  margin: 10rem 0;
}

.projects {
  margin-bottom: 80px;
}

.project-card {
  transition: all 1s;
}

.project-card:hover {
  transform: scale(1.05);
}

.section-heading {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  font-size: 60px;
  line-height: 100%;
  letter-spacing: 0.04em;
  padding-bottom: 60px;
}

.card-title {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0.04em;
  padding-bottom: 12px;
}

.card-text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 140%;
}

.card-body {
  padding: 20px 0;
}

.btn {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0.12em;
  padding: 16px 40px;
  border-radius: 506px;
}

#cta {
  text-align: center;
}

.cta-heading {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 100%;
  letter-spacing: 0.04em;
  padding: 40px 0;
}

#footer {
  text-align: center;
  margin: 100px 0;
}

a {
  padding: 0 10px;
  color: #5E5C62;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: 0.04em;
  display: inline-block;
}

.contact-img {
  width: 100px;
}

.contact-info {
  padding-top: 40px;
}

.contact-link {
  display: block;
  padding-top: 16px;
}
